<!DOCTYPE html>
<html>
<body>

<p>Neural EM Image:</p>

<img src="example.png" width="145" height="126" alt="single0" usemap="#single0">

<map name="single0">
  <area shape="rect" coords="0,0,82,126" alt="Sun" href="sun.htm">
  <area shape="circle" coords="90,58,3" alt="Mercury" href="mercur.htm">
  <area shape="circle" coords="124,58,8" alt="Venus" href="venus.htm">
</map>

</body>
</html>
