<!DOCTYPE html>
<html>
<body>

<p>Neural EM Image:</p>




<div class="container">
    <div id="slideshow">
        <img alt="slideshow" src="" id="imgClickAndChange" onclick="changeImage()" />
    </div>
</div>
<script>
    // How do I load images from tiles?
    var imgs = ["/tiles/single0.png", "/tiles/single1.png", "/tiles/single2.png", "/tiles/single3.png", "/tiles/single4.png"];

    function changeImage(dir) {
        var img = document.getElementById("imgClickAndChange");
        img.src = imgs[imgs.indexOf(img.src) + (dir || 1)] || imgs[dir ? imgs.length - 1 : 0];
    }

    document.onkeydown = function(e) {
        e = e || window.event;
        if (e.keyCode == '37') {
            changeImage(-1) //left <- show Prev image
        } else if (e.keyCode == '39') {
            // right -> show next image
            changeImage()
        }
    }
</script>

<%= image_tag "/tiles/example.png" %>

</body>
</html>
