<!-- =========================
     START HOME SECTION
============================== -->
    <section class="header parallax home-parallax page" id="HOME">
        <div class="section_overlay">
            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO | only works with core relative path-->
                            <img width="175" height="175" src="/modules/core/client/img/brand/logo.png">
                        </div>
                    </div>
                </div>
                <div class="row block block-hero block-centered">
                    <div class="col-md-12 col-sm-8">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Capstone: Human Connectome</h1>
                            <p>Tutorials to show users how to map neuronal structures from segmented electron microscopy images.</p>
                        </div>
                        <div class="getstarted-btn">
                        <!-- BUTTON -->
                            <a class="btn home-btn wow fadeInLeft" ui-sref="authentication.signin">Get Started</a>
                            <a class="learn btn wow fadeInRight" href="#ABOUT">Learn More <i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->

    <!-- =========================
    START ABOUT US SECTION
============================== -->


   <section class="about page" id="ABOUT">
       <div class="container">
           <div class="row">
               <div class="col-md-10 col-md-offset-1">
                   <!-- ABOUT US SECTION TITLE-->
                   <div class="section_title">
                       <h2>About This Project</h2>
                       <p>This project borrows from the mission and features of Eyewire. Due to the scope of this project, the main two features of are: (1) a web tool to manually label segmented (but unclassified) neuron EM images and (2) a graphic representation of neurons based on user input.</p>
                   </div>
               </div>
           </div>
       </div>
       <div class="inner_about_area">
           <div class="container">
               <div class="row">
                   <div class="col-md-6">
                       <div class="about_mic wow fadeInLeft" data-wow-duration="1s">
                       <!-- MICROPHONE -->
                           <img src="/modules/core/client/img/brand/EMimage.png" width="550" height="700" alt="">
                       </div>
                   </div>
                   <div class="col-md-6  wow fadeInRight" data-wow-duration="1s">
                       <!-- TITLE -->
                       <div class="inner_about_title">
                           <h2> Our Main Features</h2>
                           <p>Interested in learning about neurons? Keep on scrolling!</p>
                       </div>
                       <div class="inner_about_desc">

                           <!-- SINGLE DESC -->
                           <div class="single_about_area fadeInUp wow" data-wow-duration=".5s">
                               <!-- ICON -->
                               <div><i class="pe-7s-album"></i></div>
                               <!-- HEADING DESCRIPTION -->
                               <h3>Feature 1</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                           </div>
                           <!-- END SINGLE DESC -->

                           <!-- SINGLE DESC -->
                           <div class="single_about_area fadeInUp wow" data-wow-duration=".5s">
                               <!-- ICON -->
                               <div><i class="pe-7s-headphones"></i></div>
                               <!-- HEADING DESCRIPTION -->
                               <h3>Feature 2</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                           </div>
                           <!-- END SINGLE DESC -->


                           <!-- SINGLE DESC -->
                           <div class="single_about_area fadeInUp wow" data-wow-duration=".5s">
                               <!-- ICON -->
                               <div><i class="pe-7s-chat"></i></div>
                               <!-- HEADING DESCRIPTION -->
                               <h3>Feature 3</h3>
                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                           </div>
                           <!-- END SINGLE DESC -->

                       </div>
                   </div>
               </div>
           </div>
       </div>

   <!-- End About Us -->

   <!-- =========================
        Start FUN FACTS
   ============================== -->




       <!-- END FUN FACTS -->

 <!-- =========================
      Start FOOTER
 ============================== -->


     <!-- END FOOTER -->
